{% extends 'layout.html' %}
{% block body_content %}
    <form action='' method='POST'>

    <p>
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name }} 
        {{ form.address.label }} {{ form.address }} 

        {{ form.climber_first_name.label }} {{ form.climber_first_name}}
        {{ form.climber_last_name.label }} {{ form.climber_last_name}}
        {{ form.climber_email.label }} {{ form.climber_email}}

        {{ form.submit }}
    </p>
    </form>

{% endblock body_content %}